.hero {
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.branding {
    display: grid;
    grid-template-columns: 70% 30%;
    margin: var(--margin-medium) 0;
}

.info {
    display: flex;
    flex-direction: column;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 2rem;
    gap: 0;
}

.greet {
    margin: 0;
    color: #9c9c9c;
    font-size: 20px;
}

.name {
    margin: 0;
    font-size: 70px;
}

.role {
    margin: 10px 0;
    color: #9c9c9c;
    font-size: 30px;
}

.cta {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--margin-small);
}

.cta__button {
    border-radius: 13px;
    background-color: #cfcfcf2a;
    color: white;
}

.cta__button:hover {
    background-color: #cfcfcf4a;
    box-shadow: none;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 var(--margin-large);
}

.image {
    width: 70%;
    height: auto;
    margin-bottom: var(--margin-small);
}