@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
    animation: fadeIn 2s ease-in-out;
}

.hero img {
    width: 100%;
    height: auto;
}

.branding {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    vertical-align: middle;
}

.technologies {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
    cursor: default;
}

.technology {
    padding: var(--padding-tiny) var(--padding-small);
    margin: var(--margin-tiny);
    border-radius: var(--border-radius-tiny);
}

.officialLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--margin-medium);
}