@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    animation: fadeIn 2s ease-in-out;
    align-items: center;
    justify-content: center;
}

.upayanIcon {
    width: 30%;
    height: auto;
    filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(1) contrast(1);
    color: var(--text-color);
}

.branding {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}


@media (max-width: 1024px) {
    .branding {
        flex-direction: column;
        padding: 0;
    }
}

.technologies {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    cursor: default;
    font-family: monospace;
    height: 100%;
}

@media (max-width: 1024px) {
    .technologies {
        justify-content: center;
        padding: 0;
    }
}

.technology {
    padding: var(--padding-tiny) var(--padding-small);
    margin: var(--margin-tiny);
    border-radius: var(--border-radius-tiny);
}

.technology:hover {
    transform: translateY(-2px);
}

.officialLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--margin-medium);
    flex-wrap: wrap;
    padding: var(--padding-tiny);
}

.officialLinks button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
}

.officialLinks button:hover {
    box-shadow: 0 0 9px 8px #4647e438;
    cursor: pointer;
}