.activitiesBelow {
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 0.75rem;
    font-size: 0.75rem;
    max-width: 260px;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: fit-content;
}

.activityItem {
    border-radius: var(--border-radius-small);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.activityTop {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.activityIcon {
    font-size: 1rem;
    flex-shrink: 0;
}

.activityDetails {
    font-weight: 500;
    display: block;
    opacity: 0.95;
}

.activityState {
    display: block;
    opacity: 0.85;
    font-size: 0.7rem;
}

.spotifyBackground {
    background-color: #1DB954;
    color: #000;
}

.vscodeBackground {
    background-color: #007ACC;
    color: #fff;
}

.defaultBackground {
    background-color: rgba(255, 255, 255, 0.05);
    color: #fff;
}