
.breadcrumbContainer {
    display: flex;
    justify-content: flex-start;
    font-size: 0.8em;
    vertical-align: middle;
    align-items: center;
    color: rgba(128, 128, 128, 0.462);
    gap: 0.5em;
    flex-wrap: wrap;
    max-width: 100%;
    text-wrap: wrap;
    height: max-content;
}

@media (max-width: 768px) {
    .breadcrumbContainer {
        font-size: 0.5em;
        gap: 0.3em;
        flex-wrap: wrap;
    }
}

.breadcrumbContainer button {
    background-color: transparent;
    box-shadow: none;
    color: gray;
    border: none;
    padding: 0 var(--padding-tiny);
    cursor: pointer;
}

@media (max-width: 768px) {
    .breadcrumbContainer button {
        font-size: 0.7rem;
        padding: 0;
    }
}

.breadcrumbContainer button:hover {
    color: darkgray;
}