.sidebar {
    display: flex;
    flex-direction: column;
    width: max-content;
    max-width: var(--screen-horizontal-margin);
    align-items: center;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    justify-content: center;
}

@media (max-width: 961px) {
    .sidebar {
        display: none;
    }

}

.sidebar nav {
    height: 50%;
}

.sidebar nav ul {
    padding: var(--padding-tiny) var(--padding-small);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sidebar nav ul li {
    margin-bottom: var(--margin-small);
    display: flex;
}

.sidebar nav ul li:hover {
    background-color: rgba(129, 129, 129, 0.209);
    border-radius: 10dvh;
}

.sidebar nav ul li svg {
    padding: var(--padding-small);
    background-color: rgba(66, 66, 66, 0.342);
    border-radius: 10dvh;
}

.sidebar nav ul li:hover svg {
    background-color: var(--sidebar-background-color);
    border-radius: 10dvh 0 0 10dvh;
}

.sidebar nav a {
    color: var(--color);
    display: flex;
}

@media (max-width: 768px) {
    .sidebar nav ul li:hover svg {
        border-radius: 50%;
    }
}

.sidebar nav ul li span {
    color: transparent;
    margin-left: 5px;
    padding: var(--padding-tiny) var(--padding-small) var(--padding-tiny) var(--padding-tiny);
    border-radius: 0 10dvh 10dvh 0;
    letter-spacing: 1px;
    font-size: 1em;
    align-self: center;
}

@media (max-width: 768px) {
    .sidebar nav ul li span {
        display: none;
    }
}

.sidebar nav ul li:hover span {
    color: inherit;
}