.devjourneyContainer {
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    margin: var(--margin-medium) var(--margin-medium);
    padding: 0 var(--padding-medium);
    border-radius: var(--border-radius-large);
}

@media (max-width: 768px) {
    .devjourneyContainer {
        margin: auto;
        padding: var(--padding-small);
        min-width: 75vw;
        max-width: 97vw;
        width: fill-available;
    }
}