.devjourneyContainer {
    backdrop-filter: blur(15px);
    margin: var(--margin-medium) var(--margin-medium);
    padding: calc(2 * var(--padding-medium)) var(--padding-medium);
    border-radius: var(--border-radius-large);
    font-size: 0.8em;
}

@media (max-width: 768px) {
    .devjourneyContainer {
        margin: auto;
        padding: var(--padding-small);
        min-width: 90vw;
        max-width: 97vw;
    }
}