
.contentContainer {
    margin: var(--margin-medium) 0;
    padding: var(--padding-medium);
    border-radius: var(--border-radius-medium);
    background-color: rgb(0 0 0 / 70%);
    font-size: 18px;
}

@media (max-width: 768px) {
    .contentContainer {
        margin: var(--margin-small);
        padding: var(--padding-small);
        font-size: 1em;
    }
}

.contentContainer h1,
.contentContainer h2,
.contentContainer h3,
.contentContainer h4,
.contentContainer h5,
.contentContainer h6,
.contentContainer p,
.contentContainer ul,
.contentContainer a {
    font-size: 0.9em;
}

.contentContainer .fileName {
    font-size: 0.8em;
    color: #aeaeae;
    margin-bottom: 10px;
}

.contentContainer .markdownContent {
    color: #f3f3f3d7;
}

.contentContainer .fileContent {
    color: white;
}

@media (max-width: 768px) {
    .contentContainer .fileContent {
        text-wrap: wrap;
    }
}

.code {
    max-height: 60dvh;
    overflow-y: scroll;
    background: #70707014;
    font-size: 1rem;
}

/* Webkit (Chrome, Edge, Safari) */
.code::-webkit-scrollbar {
    width: 8px;
}

.code::-webkit-scrollbar-track {
    background: #2a2a2a;
    border-radius: 4px;
}

.code::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 4px;
}

.code::-webkit-scrollbar-thumb:hover {
    background: #777;
}

/* Firefox */
.code {
    scrollbar-width: thin;
    scrollbar-color: #555 #2a2a2a;
}
