.githubButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.githubButtonContainer button {
  background-color: black;
  color: rgba(255, 255, 255, 0.709);
  gap: 10px;
  border-radius: var(--border-radius-small);
}

.githubButtonContainer button:hover {
  box-shadow: 0 0 6px 8px rgba(178, 178, 178, 0.05);
}

@media (max-width: 768px) {
  .githubButtonContainer button {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .githubButtonContainer {
    justify-content: center;
  }
}
