
.githubButtonContainer {
    display: flex;
    justify-content: flex-end;
}

.githubButtonContainer button {
    background-color: black;
    gap: 10px;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.435);
}

.githubButtonContainer button:hover {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.735);
}

@media (max-width: 768px) {
    .githubButtonContainer button {
        justify-content: center;
        font-size: 0.5em;
    }
}

@media (max-width: 768px) {
    .githubButtonContainer {
        justify-content: center;
    }
}
