.detailPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-large) var(--padding-medium);
    min-height: max-content;
    color: #f0f0f0;
    border-radius: var(--border-radius-medium);
}

.certificateCard {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background: var(--card-background);
    border: 1px solid #444;
    border-radius: var(--border-radius-medium);
    max-width: 600px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.certificateCard:hover {
    transform: scale(1.03);
}

.imageContainer {
    width: 100%;
    background: #111;
    border-bottom: 1px solid #444;
}

.certificateImage {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

.cardContent {
    padding: 20px;
}

.certificateTitle {
    font-weight: 700;
    color: #a0cfff;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.tagsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;
}

.certificateTag {
    display: inline-block;
    color: #f0f0f0;
    padding: 6px 12px;
    border-radius: var(--border-radius-tiny);
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .certificateCard {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .certificateTag {
        padding: 4px 8px;

    }
}