.widget {
  z-index: 3000;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.widget button:hover {
  box-shadow: none;
}

.toggleButton {
  background: transparent;
  border: none;
  color: var(--color);
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggleButton:hover {
  transform: scale(1.1);
  background-color: transparent;
}

.selector {
  position: absolute;
  bottom: 150%;
  left: 0;
  margin-top: 8px;
  background: #222;
  padding: 10px;
  border-radius: 8px;
  width: 200px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.label {
  color: white;
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.option {
  padding: 8px;
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.2s ease;
}

.option:hover {
  opacity: 0.9;
  transform: scale(1.02);
}