.navbar {
    align-self: center;
    font-size: 0.8em;
    position: sticky;
    width: 100vw;
    top: 0;
    z-index: 1000;
    text-align: center;
    align-content: center;
}

.navbar nav {
    top: 0;
    padding: var(--padding-small) calc(2 * var(--padding-large));
    width: 100%;
    border-radius: var(--border-radius-medium);
    z-index: 1000;
    align-self: center;
    text-align: center;
    align-items: center;
    background-color: var(--header-background-color);
    backdrop-filter: blur(20px);
}

@media (max-width: 768px) {
    .navbar nav {
        padding: 0;
        backdrop-filter: blur(1px);
    }
}

.navbar nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
    flex-wrap: nowrap;
}

.navbar li {
    margin: 0;
}

.navbar li button {
    display: flex;
    align-items: center;
    padding: var(--padding-small) calc(1.5 * var(--padding-small));
    border-radius: calc(1.5 * var(--border-radius-tiny));
    font-size: 0.9em;
    cursor: pointer;
}

.navbar li button svg {
    margin-right: 0.5rem;
}

@media (max-width: 768px) {
    .navbar {
        position: fixed;
        bottom: 0;
        top: auto;
        font-size: 0.6em;
        background-color: var(--header-background-color);
        padding: 0;
        z-index: 1000;
    }

    .navbar nav ul {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    .navbar li {
        margin: 0;
    }

    .navbar li button {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: var(--padding-small);
        font-size: 0.8em;
        justify-content: center;
    }

    .navbar li button svg {
        margin-right: 0;
    }

    .navbar li button span {
        display: none;
    }
}

@media (max-width: 480px) {
    .navbar li button {
        font-size: 0.7em;
    }

    .navbar li button svg {
        margin-right: 0;
        font-size: 1.2em;
    }
}

@media (max-width: 768px) {
    .navbar .auth {
        display: none;
        background-color: red;
    }
}