.container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: flex-start;
    padding: 1rem 0;
    font-size: clamp(12px, 2vw, 18px);
    color: #d3d3d3;
    min-height: 56px;
}

.line {
    white-space: nowrap;
}