.officialLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--margin-small);
    flex-wrap: wrap;
    padding: var(--padding-tiny) 0;
    margin: var(--margin-medium) 0;
}

.officialLinks button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    border-radius: var(--border-radius-tiny);
}

.officialLinks button:hover {
    box-shadow: none;
    cursor: pointer;
}