.officialLinks {
    display: flex;
    flex-wrap: wrap;
    gap: var(--margin-small);
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-tiny) 0;
    margin: var(--margin-medium) 0;
    width: 100%;
}

.officialLink {
    font-family: "RedHatDisplay";
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    min-width: 100px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 0.8em;
}

.officialLink:hover {
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    .officialLink {
        padding: 0.5rem 1rem;
        min-width: 100px;
    }
}

@media (max-width: 480px) {
    .officialLinks {
        flex-direction: column;
    }

    .officialLink {
        padding: 0.4rem 0.8rem;
        min-width: 90px;
        width: 50%;
    }
}