.githubButtonContainer {
    display: flex;
    justify-content: flex-end;
}

.githubButtonContainer button {
    background-color: black;
    color: white;
    gap: 10px;
    border: 1px rgba(255, 255, 255, 0.435) solid;
}

@media (max-width: 768px) {
    .githubButtonContainer button {
        justify-content: center;
        font-size: 0.5em;
    }
}

@media (max-width: 768px) {
    .githubButtonContainer {
        justify-content: center;
    }
}