.button {
    width: 10em;
    position: relative;
    height: 2.5em;
    border: 3px ridge #149cea;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
}

.button::after,
.button::before {
    content: "";
    position: absolute;
    width: 95%;
    height: 40%;
    transition: 0.5s;
    transform-origin: center;
}

.button::after {
    top: -10px;
    left: 3%;
}

.button::before {
    top: 80%;
    left: 3%;
}

.button:hover::before,
.button:hover::after {
    transform: scale(0);
}

.button:hover {
    box-shadow: inset 0px 0px 25px #1479ea;
}