@font-face {
  font-family: 'RedHatDisplay';
  src: url('../../public/fonts/RedHatDisplay-VariableFont_wght.ttf') format(' truetype');

}

:root {
  --body-background-color: black;
  --header-background-color: var(--body-background-color);
  --footer-background-color: #1f1f1f34;
  --sidebar-background-color: #333;

  --screen-horizontal-margin: 200px;
  --screen-vertical-margin: calc(var(--screen-horizontal-margin)/4);

  --primary-color: #0f73f5;
  --secondary-color: #4278ff;
  --tertiary-color: #34495e;

  --text-color: #d3d3d3;
  --text-link-color: #1E90FF;
  --text-link-hover-color: #1C86EE;

  --padding-tiny: 5px;
  --padding-small: 10px;
  --padding-medium: 20px;
  --padding-large: 40px;
  --padding-huge: 80px;

  --margin-tiny: 5px;
  --margin-small: 10px;
  --margin-medium: 20px;
  --margin-large: 40px;
  --margin-huge: 80px;

  --border-radius-tiny: 5px;
  --border-radius-small: 10px;
  --border-radius-medium: 20px;
  --border-radius-large: 40px;
  --border-radius-huge: 80px;

  --font-size-tiny: 10px;
  --font-size-small: 12px;
  --font-size-medium: 16px;
  --font-size-large: 20px;
  --font-size-huge: 24px;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --transition-tiny: 0.1s;
  --transition-small: 0.2s;
  --transition-medium: 0.4s;
  --transition-large: 0.8s;
  --transition-huge: 1.6s;
}

@media (max-width: 1024px) {
  :root {
    --screen-horizontal-margin: 150px;
  }
}

@media (max-width: 768px) {
  :root {
    --screen-horizontal-margin: 50px;
  }
}

@media (max-width: 480px) {
  :root {
    --screen-horizontal-margin: 15px;
  }
}

* {
  transition: all var(--transition-small) ease-in-out;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: var(--body-background-color);
  color: var(--text-color);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-normal);
  transition: var(--body-background-color);
  padding: 0;
  margin: 0;
  font-family: "Red Hat Display", "din alternate", system-ui, optima, avenir;
}

main {
  margin: var(--screen-vertical-margin) var(--screen-horizontal-margin);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

a {
  color: var(--text-link-color);
  text-decoration: none;
}

a:hover {
  color: var(--text-link-hover-color);
}

ul {
  list-style: none;
}

button {
  border-radius: 50dvh;
  background-color: rgb(36, 36, 36);
  color: white;
  border: none;
  padding: var(--padding-small) var(--padding-medium);
  display: flex;
}

button:hover {
  background-color: rgb(22, 22, 22);
  box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.24);
}

button svg {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #444444;
  border-radius: 4px;
  border: 2px solid #1e1e1e;
}

::-webkit-scrollbar-thumb:hover {
  background: #666666;
}

::-webkit-scrollbar-thumb:active {
  background: #888888;
}