@font-face {
  font-family: 'RedHatDisplay';
  src: url('../../public/fonts/RedHatDisplay-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'RedHatMono';
  src: url('../../public/fonts/RedHatMono-VariableFont_wght.ttf') format('truetype');
}

:root {
  --header-background-color: var(--background-color);
  --footer-background-color: #121212bd;
  --sidebar-background-color: #0e0e0ebb;
  --card-background: linear-gradient(145deg, rgba(10, 25, 47, 0.7), rgba(2, 12, 27, 0.7));

  --screen-horizontal-margin: var(--margin-huge);
  --screen-vertical-margin: 0;

  --text-link-color: #1C86EE;
  --text-link-hover-color: rgb(77, 156, 235);

  --padding-tiny: 5px;
  --padding-small: 10px;
  --padding-medium: 20px;
  --padding-large: 40px;
  --padding-huge: 80px;

  --margin-tiny: 5px;
  --margin-small: 10px;
  --margin-medium: 20px;
  --margin-large: 40px;
  --margin-huge: 80px;

  --border-radius-tiny: 5px;
  --border-radius-small: 10px;
  --border-radius-medium: 20px;
  --border-radius-large: 40px;
  --border-radius-huge: 80px;

  --font-size-tiny: 12px;
  --font-size-small: 14px;
  --font-size-medium: 18px;
  --font-size-large: 22px;
  --font-size-huge: 28px;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --transition-tiny: 0.1s;
  --transition-small: 0.2s;
  --transition-medium: 0.4s;
  --transition-large: 0.8s;
  --transition-huge: 1.6s;
}

* {
  transition: all var(--transition-small) ease-in-out;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: rgb(29, 29, 29);
}

body {
  background: var(--background-color);
  color: var(--color);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-normal);
  transition: background 0.8s ease-in-out, color 0.4s ease-in-out;
  background-attachment: fixed;
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: "Red Hat Display", "din alternate", system-ui, optima, avenir;
  transition:
    background-color 2s ease-in-out,
    color 0.4s ease-in-out;
}

main {
  margin: var(--screen-vertical-margin) var(--screen-horizontal-margin);
  margin-top: 4.5rem;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  main {
    margin-top: var(--margin-large);
    min-height: 78vh;
    justify-content: center;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

a {
  text-decoration: none;
  color: var(--text-link-color);
}

a:hover {
  color: var(--text-link-hover-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border-radius: 50dvh;
  background-color: rgb(36, 36, 36);
  border: none;
  padding: var(--padding-small) var(--padding-medium);
  display: flex;
  align-items: center;
  font-size: var(--font-size-medium);
}

button:hover {
  background-color: rgb(22, 22, 22);
  box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.24);
  cursor: pointer;
}

button svg {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

.page-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: var(--margin-medium) 0;
  font-family: system-ui;
}

@media (max-width: 768px) {
  .page-header {
    text-align: center;
  }
}

.page-header * {
  margin: 0;
  padding: 0;
}